:javascript
  $(document).ready(function() {
    $(".date_picker").datepicker({ dateFormat: 'MM dd, yy' });
  });
  
-content_for :sidebar do
  %h2 Client Booking
  %p Enter a descriptive title for the booking. This title will tell your client what the booking contains. (I.e. Newborn Session)
  %p The expires on field limits how long the client can view this booking and the photos within it. We have already assigned a default expiry, however you can change this to whatever date you like, or clear it completely if the booking should never expire.
  %p You can optionally enter a description for the booking. This is usually only necessary if you have more than one booking for this client.
  %p= "Click the \"#{(controller.action_name == 'new') ? 'Create' : 'Update'}\" button when you're done."

#breadcrumb
  = "#{link_to('Clients', admin_clients_path)} &raquo; #{link_to(@client.name + ' Bookings', admin_client_bookings_path(@client))} &raquo; #{controller.action_name.titleize}"
  
= f.error_messages
%p
  = f.label :title
  = f.text_field :title, :class => 'text validate[required,length[2,100]]'
%p
  = f.label :occurs_on
  = f.text_field :occurs_on, :value => (@booking.occurs_on.blank? ? '' : @booking.occurs_on.strftime('%B %d, %Y')), :class => 'text date_picker'
%p
  = f.label :expires_on
  = f.text_field :expires_on, :value => (@booking.expires_on.blank? ? '' : @booking.expires_on.strftime('%B %d, %Y')), :class => 'text date_picker'
%p
  = f.label :description
  = f.text_area :description, :style => 'width: 97%'
  
= render :partial => "admin/shared/buttons"