%li{ :id => "row_#{row.id}" }
  %div
    = truncate(row.title, :length => 22)
    = link_to(image_tag('cancel.png'), resource_path(row), :class => "delete")
    - if row.expired?
      .expired
        EXPIRED
  - if row.photos.first
    = "#{link_to(image_tag(row.photos.first.image.url(:thumb), :size => '150x100'), admin_booking_photos_path(row))}<br />"
  - else
    = "#{link_to(image_tag('thumb/missing.png', :size => '150x100'), admin_booking_photos_path(row))}<br />"
  .actions
    = link_to('Edit', edit_resource_path(row))
    |
    = link_to('Photos', admin_booking_photos_path(row))
    = "| #{link_to('Comments', admin_booking_photo_comments_path(row))}" unless row.photo_comments.blank?
