-content_for :sidebar do
  %h2 Client Bookings
  %p Bookings are used to categorize a client's photos. The bookings you create here will be shared with the client only.
  %p You can manage a booking's photos by clicking the "Photos" link next to the booking.
  %p You can edit a booking by clicking the "Edit" link next to the booking you want to change.
  %p You can delete a booking by clicking the "Delete" link next to the booking you want to remove.

#breadcrumb
  = "#{link_to('Clients', admin_clients_path)} &raquo; #{@client.name} Bookings"

= build_link_button("New Booking &raquo;", new_resource_path)

%p{ :class => 'clearfix' }

%ul{ :class => 'image_list' }
  = render :partial => "row", :collection => @bookings