-content_for :sidebar do
  %h2 Page
  %p Your pages are where you describe your work.
  %p You can upload an image for your page by clicking the "Choose File" or "Upload" button to the right. The system doesn't resize page images, so please upload an appropriate size for your theme.
  %p Please enter a descriptive title for the page. This title will be shown to your potential clients and used for SEO purposes.
  %p
    Please enter the body for your page. The body may contain 
    = link_to 'markdown formatting.', 'http://www.darkcoding.net/software/markdown-quick-reference/', :target => '_blank'
  %p= "Click the \"#{(controller.action_name == 'new') ? 'Create' : 'Update'}\" button when you're done."

#breadcrumb
  = "#{link_to('Pages', admin_pages_path)} &raquo; #{controller.action_name.titleize}"
  
= f.error_messages
%div{ :style => "width:50%; float:left;" }
  %p
    = f.label :title
    = f.text_field :title, :class => 'text validate[required,length[2,100]]'
  %p
    = f.label :intro, 'Introduction'
    = f.text_field :intro, :class => 'text validate[optional,length[2,100]]'
  
%div{ :style => "width:50%; float:left;" }
  %p
    = f.label :image, "Upload Page Image (Around 300x300 pixels or smaller)"
    = f.file_field :image, :class => 'text'
  %p
    = link_to(image_tag(@page.image.url(:thumb)), @page.image.url, :rel => 'colorbox') if @page.image.file?
    
%div{ :style => "width:100%; float:left;" }
  %p
    = f.label :keywords
    = f.text_field :keywords, :class => 'text long validate[optional,length[3,200]]'
  %p
    = f.label :body
    = f.text_area :body, :class => 'long validate[required]'

  = render :partial => "admin/shared/buttons"

