- content_for :title do
  Pages

%p= link_to(raw("<i class='icon-plus icon-white'></i> New Page"), new_admin_page_path, :class => 'btn btn-success')

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Created on
      %th{ :colspan => 3, :width => '15%' } Actions
  %tbody
    - @pages.each do |obj|
      %tr
        %td= obj.name
        %td= obj.created_at.strftime("%b %d, %Y")
        %td= link_to('View', page_path(obj))
        %td= link_to('Edit', edit_admin_page_path(obj))
        %td= link_to('Delete', admin_page_path(obj), :method => :delete, :confirm => 'Are you sure?', :remote => true, 'data-type' => 'json')