-content_for :sidebar do
  %h2 Gallery
  %p Your galleries are where you showcase your work. The main image for a gallery will show up in the slides on the front page of your site.
  %p Please upload an image for your gallery by clicking the "Choose File" or "Upload" button to the right. This image should be sized 960 pixels wide and 540 pixels high (16:9 aspect ratio).
  %p Please enter a descriptive title for the gallery. This title will be shown to your potential clients and used for SEO purposes.
  %p= "Click the \"#{(controller.action_name == 'new') ? 'Create' : 'Update'}\" button when you're done."

#breadcrumb
  = "#{link_to('Galleries', admin_galleries_path)} &raquo; #{controller.action_name.titleize}"
  
= f.error_messages
%div{ :style => "width:50%; float:left;" }
  %p
    = f.label :title
    = f.text_field :title, :class => 'text validate[required,length[2,100]]'
  %p
    = f.label :image, "Upload Gallery Image (Should be 275x200 pixels)"
    = f.file_field :image, :class => 'text'
  
%div{ :style => "width:50%; float:left;" }
  %p
    = link_to(image_tag(@gallery.image.url(:thumb)), @gallery.image.url, :rel => 'colorbox') if @gallery.image.file?
    
%div{ :style => "width:100%; float:left;" }
  %p
    = f.label :keywords
    = f.text_field :keywords, :class => 'text long validate[optional,length[3,200]]'
  %p
    = f.label :description
    = f.text_area :description, :class => 'brief validate[required,length[5,1000]]'

  = render :partial => "admin/shared/buttons"

