.comment
  .comment-body
    %label
      = "#{row.author} wrote"
      %br
      %small{:style => 'font-weight: normal;'}= "at #{row.created_at.strftime('%I:%M %p on %B %d, %Y')}"
    %p= h(row.body)
  .comment-photo
    %p= link_to(image_tag(row.photo.image.url(:thumb), :size => '150x100'), admin_booking_photo_path(@booking, row.photo))
%p{ :class => 'clear' }