-content_for :sidebar do
  %h2= "#{parent_class.to_s.humanize.titleize} Comments"
  %p= "This is a list of all of the comments for the #{parent_class.to_s.humanize.titleize}."
  %p You can expand the view and reply to comments for a photo by clicking on it's image.

#breadcrumb
  = "#{link_to('Clients', admin_clients_path)} &raquo; #{link_to(@booking.client.name + ' Bookings', admin_client_bookings_path(@booking.client))} &raquo; All #{@booking.title} Comments"

.paging{ :style => 'margin-right: 70px;' }
  = will_paginate(@comments)
%fieldset.comments{ :style => 'padding-bottom: 15px;' }
  %legend
    = "Comments for #{parent.title}"
  = render :partial => "row", :collection => @comments
%div{ :style => 'float:right; margin-right: 70px;' }
  = will_paginate(@comments)