-content_for :sidebar do
  %h2 Client
  %p Please fill out the client's name, email address, and password on the right. The other fields are all optional and are meant only to help you store and keep track of the client's contact information.
  %p= "Click the \"#{(controller.action_name == 'new') ? 'Create' : 'Update'}\" button when you're done."
  %p Whenever you add a new client to the site, the system will automatically email them with their account and login information.

#breadcrumb
  = "#{link_to('Clients', admin_clients_path)} &raquo; #{controller.action_name.titleize}"
  
= f.error_messages
%div{ :style => "width:50%; float:left;" }
  %p
    = f.label :name, "Name"
    = f.text_field :name, :class => 'text validate[required,length[5,100]]'
  %p
    = f.label :email
    = f.text_field :email, :class => 'text validate[required,custom[email]]'
  - if @client.id.blank?
    = f.hidden_field :password, :value => Authlogic::Random.friendly_token
  = render :partial => "admin/shared/buttons"
  
%div{ :style => "width:50%; float:left;" }
  %h4
    Optional Information
  %p
    = f.label :phone, "Phone"
    = f.text_field :phone, :class => 'text validate[optional,custom[telephone],length[7,20]]'
  %p
    = f.label :street_1, "Address 1"
    = f.text_field :street_1, :class => 'text validate[optional,length[8,100]]'
  %p
    = f.label :street_2, "Address 2"
    = f.text_field :street_2, :class => 'text validate[optional,length[1,80]]'
  %p
    = f.label :city, "City"
    = f.text_field :city, :class => 'text validate[optional,length[3,70]]'
  %p
    = f.label :province, "Province / State Code"
    = f.text_field :province, :class => 'text numeric validate[optional,length[2,2]]'
  %p
    = f.label :country, "Country Code"
    = f.text_field :country, :class => 'text numeric validate[optional,length[2,2]]'
  %p
    = f.label :postal_code, "Postal / Zip Code"
    = f.text_field :postal_code, :class => 'text numeric validate[optional,length[5,14]]'
