-content_for :sidebar do
  %h2 Client Invite
  %p An invitation email will be sent to your client containing their account information and a link to your site.
  %p You can add a custom message that will be inserted into this invitation email here.
  %p Just click the "Send Invitation" button when you're ready to send it.

#breadcrumb
  = "#{link_to('Clients', admin_clients_path)} &raquo; Invite #{@client.name}"

- form_tag send_invite_admin_client_path, :method => :post do
  %p
    %label{ :for => 'custom_message' } Add a custom message to the invitation
    = text_area_tag 'custom_message', nil, :class => 'text', :style => 'width: 97%'
  
  %p.buttons
    = build_submit_button('Send Invitation &raquo;')
    = link_to("#{image_tag('icons/negative.png')} Cancel", collection_path, :class => 'button negative', :id => 'cancel')