- content_for :title, "Contact #{photographer.name}"
- content_for :sidebar do
  %h2 Get in touch
  %p
    - if photographer.contact_instructions.blank?
      Please leave me your name, email, and a brief message and I'll get back to you as soon as possible.
    - else
      = photographer.contact_instructions.to_html.html_safe

= simple_form_for(@contact_request, :url => contact_requests_path, :html => { :class => 'form-vertical' }) do |form|
  = render "shared/error_messages", :target => @contact_request
  = form.input :name, :hint => 'Your name'
  = form.input :email, :hint => 'Your email address so I can get back to you.'
  = form.input :message, :hint => 'Your message.', :input_html => { :class => 'medium' }

  .form-actions
    = form.button :submit, 'Send Request', :class => 'btn btn-primary'
