%meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
%meta{ :content => "chrome=1", "http-equiv" => "X-UA-Compatible" }
%title= "#{controller.controller_name.humanize.titleize} - Administration"
= include_stylesheets :print, :media => 'print'
/[if IE]
  = include_stylesheets :ie, :media => 'screen, projection'
= include_stylesheets :photog, :media => 'screen, projection'
= csrf_meta_tag