%h1= link_to(h(@config.company_name), root_path, :title => h(@config.company_name))
%ul
  %li
    = link_to('Galleries', galleries_path, :title => 'Photo Galleries')
  - for page in @pages
    %li
      = link_to(h(page.title), page_path(page), :title => h(page.title))
  - unless @config.blog_url.blank?
    %li
      = link_to('Blog', @config.blog_url, :title => 'Photography Blog')
  %li
    = link_to('Client Login &raquo;', client_login_path, :title => 'Client Login')