= form_for @portfolio do |f|
  -if @portfolio.errors.any?
    #error_explanation
      %h2= "#{pluralize(@portfolio.errors.count, "error")} prohibited this portfolio from being saved:"
      %ul
        - @portfolio.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
