-content_for :sidebar do
  %h2= "#{@booking.title} Photo"
  %p If you omit the photo's title, the system will assign it's own title based on the image's file name.
  %p You can upload the photo by clicking the "Choose File" or "Upload" button to the right.
  %p= "Click the \"#{(controller.action_name == 'new') ? 'Create' : 'Update'}\" button when you're done."
  
= f.error_messages
%div{ :style => "width:50%; float:left;" }
  %p
    = f.label :image, "Upload Image (Should be around 640x480 pixels)"
    = f.file_field :image, :class => 'text'
  %p
    = f.label :title
    = f.text_field :title, :class => 'text validate[optional,length[2,100]]'
    
%div{ :style => "width:50%; float:left;" }
  %p
    = link_to(image_tag(@photo.image.url(:thumb)), @photo.image.url, :rel => 'colorbox') if @photo.image.file?

%div{ :style => "width:100%; float:left;" }  
  = render :partial => "admin/shared/buttons"