%li
  %div
    = truncate(row.title, :length => 22)
    = link_to(image_tag('cancel.png'), resource_path(row), :class => "delete-no-conf")
  = "#{link_to(image_tag(row.image.url(:thumb), :size => '150x100'), row.image.url, :title => row.title, :rel => 'colorbox')}"
  .actions
    = link_to('Edit', edit_resource_path(row))
    |
    = link_to("#{row.photo_comments.blank? ? 'View' : 'Comments'}", resource_path(row))