:javascript
  $(document).ready(function() {
    $("#uploadify").uploadify({
  		'uploader'       : '/uploadify.swf',
  		'script'         : BASE_PATH + 'flash_upload',
  		'fileDataName'   : 'photo[image]',
  		'cancelImg'      : '/images/cancel.png',
  		'folder'         : '/tmp',
  		'queueID'        : 'fileQueue',
  		'auto'           : true,
  		'multi'          : true,
  		'fileDesc'       : 'Images',
  		'fileExt'        : '*.jpg;',
  		'buttonText'     : 'Add Photos',
  		'onComplete'     : load_photo,
  		'scriptData'     : {
        'perishable_token' : '#{@config.perishable_token}'
      }
  	});
  });
  
  function load_photo(event, queueID, fileObj, response, data) {
    try {
      json = eval('(' + response + ')');
      if (json != null && json.title === "Success") {
        $.get(BASE_PATH + json.id + '/ajax_row', function(data) {
          // bind it to colorbox and insert the new photo
          $(data).find("a[rel='colorbox']").colorbox().end().appendTo('ul.image_list');
        });
      }
    } catch(err) {
      alert(err);
    }
  }
  
-content_for :sidebar do
  %h2
    = "#{@booking.title}"
  - if @booking.expired?
    %p.expired
      Note: This booking has expired
  %p
    You can add new photos to the booking by clicking the "Add Photos" button.
  %p
    The system will resize your uploads without changing the aspect ratio so that the width is 640 pixels and / or the height is at 480 pixels.
  %p
    You can edit photos by clicking the "Edit" link next to the photo you want to change.
  %p
    You can delete photos by clicking the "Delete" link next to the photo you want to remove.
  %p
    All client photos are automatically annotated with your company name when you upload them.

#breadcrumb
  = "#{link_to('Clients', admin_clients_path)} &raquo; #{link_to(@booking.client.name + ' Bookings', admin_client_bookings_path(@booking.client))} &raquo; #{@booking.title} Photos"

%div
  %div{ :style => 'float:left;' }
    #fileQueue
    %input{ :type => "file", :name => "uploadify", :id => "uploadify" }
  %div{ :style => 'float:right;' }
    %a.button{ :href => admin_client_bookings_path(@booking.client) }
      %button.red
        %span &laquo; Back

%p{ :class => 'clearfix' }

%ul{ :class => 'image_list' }
  = render :partial => "row", :collection => @photos
