#breadcrumb
  = "#{link_to('Clients', admin_clients_path)} &raquo; #{link_to(@booking.client.name + ' Bookings', admin_client_bookings_path(@booking.client))} &raquo; #{link_to @booking.title + ' Photos', collection_path} &raquo; New Photo"
  
- form_for(@photo, :url => collection_path, :html => { :multipart => true }) do |f|
  = render :partial => "form", :locals => { :f => f }
