:javascript
  jQuery.ajaxSetup({
    'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
  });

  $(document).ready(function() {
    $('#new_comment').submit(function() {
      $.post($(this).attr('action'), $(this).serialize(), 
        function(data) {
          alert(data.title);
        }, 'json');
      return false;
    });
  });

-content_for :sidebar do
  %h4
    = link_to '&laquo; Back', collection_path
    &nbsp; | &nbsp;
    = link_to 'Edit This Photo &raquo;', edit_resource_path
  %p
    This is what your client sees when browsing his or her photos.
  %p
    Both you and your client can leave comments and view each other's comments for individual photos from here.
  %p
    Type your comment into the provided comments box and click the "Leave a comment" button at the bottom of this page to add your comment to the photo.

#breadcrumb
  = "#{link_to('Clients', admin_clients_path)} &raquo; #{link_to(@booking.client.name + ' Bookings', admin_client_bookings_path(@booking.client))} &raquo; #{link_to @booking.title + ' Photos', collection_path} &raquo; #{@photo.title}"

= image_tag(@photo.image.url)

%fieldset.comments
  %legend Comments
  
  - for photo_comment in @photo.photo_comments
    .comment
      %label
        = "#{photo_comment.author} wrote"
        %small{:style => 'float: right; font-weight: normal;'}
          = photo_comment.created_at.strftime('%I:%M %p on %B %d')
      %p= h(photo_comment.body)
  
  - form_for(PhotoComment.new, :url => admin_photo_photo_comments_path(@photo)) do |f|
    = f.text_area :body, :class => 'text validate[required,length[3,600]]'
    %p.buttons= build_submit_button('Leave a comment &raquo;')