%li{ :id => "obj_#{photo.to_param}"}
  %div
    = truncate(photo.title, :length => 22)
    = link_to(image_tag('cancel.png'), admin_gallery_gallery_photo_path(@gallery, photo), :method => :delete, :remote => true, :class => 'delete')
  = raw "#{link_to(image_tag(photo.photo.thumb.url, :size => '150x100'), photo.photo.url, :title => photo.title, :rel => 'lightbox')}"