-content_for :sidebar do
  %h2 Manage Galleries
  %p Galleries are used to share photos with your clients. The galleries you create here will only be shared with people you invite.
  %p You can manage a gallery's photos by clicking the "Photos" link next to the gallery.
  %p You can edit a gallery by clicking the "Edit" link next to the gallery you want to change.
  %p You can delete a gallery by clicking the red "X" button next to the gallery you want to remove.

= link_to(raw("New Gallery &raquo;"), new_resource_path, :class => 'button')
%p.clear

%ul.image_list
  - @galleries.each do |photo|
    %li
      %div
        = truncate(photo.name, :length => 22)
        = link_to(image_tag('cancel.png'), resource_path(photo), :method => :delete, :confirm => 'Are you sure?', :remote => true, :class => 'delete')
      - unless photo.photos.blank?
        = link_to(image_tag(photo.photos.first.image.thumb.url, :size => '150x100'), edit_resource_path(photo))
      - else
        = link_to(image_tag('misc/missing.png', :size => '150x100'), edit_resource_path(photo))

= paginate @galleries