- content_for :title, 'Change Your Password'
- content_for :sidebar do
  %h2 Choose a new password.
  %p= render :partial => "devise/shared/links"

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |form|
  = devise_error_messages!
  = form.hidden_field :reset_password_token
  = form.input :password, :input_html => { :class => 'validate[required,length[5,20]]]' }, :hint => 'Please enter your password.'
  = form.input :password_confirmation, :input_html => { :class => 'validate[required,length[5,20]]]' }, :hint => 'Please confirm your password.'
  = form.button :submit, 'Change my password', :class => 'cta cta-blue'
