- content_for :title, 'Change your password'
- content_for :sidebar do
  %p You can change your password if you forgot it or simply would like a different one.
  %p Simply enter your new password.

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification
  = f.input :reset_password_token, :as => :hidden
  = f.full_error :reset_password_token
  .inputs
    = f.input :password, :label => 'New password', :required => true
  .actions= f.button :submit, 'Change my password', :class => 'primary'

= render :partial => 'devise/shared/links'