- content_for :title, 'Change Your Password'
- content_for :sidebar do
  %h2 Forgot your password?
  %p Just enter your email address and we'll send you instructions to change your password.
  %p= render :partial => "devise/shared/links"

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |form|
  = devise_error_messages!
  = form.input :email, :input_html => { :class => 'validate[required,email]' }, :hint => 'Please enter your email address.'
  = form.button :submit, 'Send me reset instructions', :class => 'cta cta-blue'
