%footer
  .container
    .row
      .span12
        .row
          .span2
            %h4 Photo Galleries
            %ul.unstyled
              - galleries.each do |gallery|
                %li= link_to(gallery.name, gallery_path(gallery))
          .span2
            %h4 Company Info
            %ul.unstyled
              - pages.each do |page|
                %li= link_to(page.name, page_path(page))
              %li= link_to('Contact', new_contact_request_path)
          .span3
            %h4 Recent Posts
            %ul.unstyled
              
          .span5
            %p= photographer.description
  #footer-floor
    .container
      .row
        .span12
          %h4
            - if photographer.phone
              = enkode(photographer.phone)
              \/
            = enkode_mail(photographer.email, photographer.email)
          %p= "&copy; 2011, #{photographer.name}, All Rights Reserved".html_safe