%footer
  .container
    .row
      .span12
        .row
          .span2
            %h4 Photo Galleries
            %ul.unstyled
              - galleries.each do |gallery|
                %li= link_to(truncate(gallery.name, :length => 32), gallery_url(gallery))
          .span2
            %h4 Company Info
            %ul.unstyled
              - pages.each do |page|
                %li= link_to(truncate(page.name, :length => 32), page_url(page))
              %li= link_to('Contact', new_contact_request_url)
          .span3
            - if photographer.blog_url.blank?
              %h4 Recent Posts
              %ul.unstyled
                - recent_posts.each do |post|
                  %li= link_to(truncate(post.title, :length => 32), post_url(post))

          .span5.pull-right
            %p= photographer.description
  #footer-floor
    .container
      .row
        .span12
          %h4
            - unless photographer.phone.blank?
              = photographer.phone
              \/
            = mail_to(photographer.email, photographer.email, :encode => 'javascript').html_safe
          %p= "&copy; #{Time.now.year}, #{photographer.name}, All Rights Reserved".html_safe

- unless photographer.google_analytics_key.blank?
  = render :partial => 'shared/google_analytics', :locals => { :key => photographer.google_analytics_key }
