%footer
  .container
    .row
      .span12
        .row
          .span2
            %h4 Photo Galleries
            %ul.unstyled
              - galleries.each do |gallery|
                %li= link_to(truncate(gallery.name, :length => 32), gallery_path(gallery))
          .span2
            %h4 Company Info
            %ul.unstyled
              - pages.each do |page|
                %li= link_to(truncate(page.name, :length => 32), page_path(page))
              %li= link_to('Contact', new_contact_request_path)
          .span3
            - if photographer.blog_url.blank?
              %h4 Recent Posts
              %ul.unstyled
                - recent_posts.each do |post|
                  %li= link_to(truncate(post.title, :length => 32), post_path(post))

          .span5.pull-right
            %p= photographer.description
  #footer-floor
    .container
      .row
        .span12
          %h4
            - unless photographer.phone.blank?
              = photographer.phone
              \/
            = mail_to(photographer.email)
          %p= "&copy; #{Time.now.year}, #{photographer.name}, All Rights Reserved".html_safe

- unless photographer.google_analytics_key.blank?
  = render :partial => 'shared/google_analytics', :locals => {:key => photographer.google_analytics_key}
