#header
  %h1
    = link_to(h(@config.company_name), '/', :title => h(@config.company_name))
  %ul.nav
    %li
      = link_to('Galleries', galleries_path, :title => 'Photo Galleries', :class => "#{'active' if controller.controller_name == 'galleries'}")
    - for page in @pages
      %li
        = link_to(h(page.title), page_path(page), :title => h(page.title), :class => "#{'active' if @page and @page.id == page.id}")
    - unless @config.blog_url.blank?
      %li
        = link_to('Blog', @config.blog_url, :title => 'Blog')
    %li.last
      = link_to('Client Login &raquo;', client_login_path, :title => 'Client Login')
