.jumbotron.masthead
  .inner
    %h1= photographer.name
    %p= photographer.tagline
.row
  .span12
    #carousel.carousel
      .carousel-inner
        - galleries.each_with_index do |gallery, idx|
          %div{ :class => "item#{' active' if idx == 0}" }
            = link_to( image_tag(gallery.cover.thumb('940x500!').url), gallery_url(gallery) )

.marketing
  - galleries.each_slice(3) do |galleries|
    .row
      - galleries.each do |gallery|
        .span4
          %h2= link_to(gallery.name, gallery_path(gallery), :class => 'marketing-link')
          %p= gallery.description
          %p= link_to('View this gallery &raquo;'.html_safe, gallery_url(gallery), :class => 'btn')
