!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ :content => "chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ :name => 'Keywords', :content => "#{@config.company_name}, photography, professional, galleries, portfolio, clients, workflow" }
    %meta{ :name => 'Description', :content => "#{@config.company_name}" }
    %title= "#{controller.controller_name.humanize.titleize} - #{@config.company_name}"
    = stylesheet_link_tag 'cream.css', :media => 'screen, projection'
    = stylesheet_link_tag 'global/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'global/ie.css', :media => 'screen, projection'
    = javascript_include_tag 'jquery.min.js', 'jquery.galleria.js', 'cream.js'
    = yield :head
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    - unless @config.google_analytics_key.blank?
      %script{ :type => 'text/javascript'}
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{@config.google_analytics_key}']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    #container
      = render :partial => '/header'
      = yield
      = render :partial => '/footer'