- content_for :title do
  %h1 Client Galleries

- content_for :sidebar do
  %p Enter a descriptive title for the gallery. This title will tell your client what the gallery contains. (I.e. Newborn Session)
  %p The expires on field limits how long the client can view this gallery and the photos within it. We have already assigned a default expiry, however you can change this to whatever date you like, or clear it completely if the gallery should never expire.
  %p
    %label Multiple Photo Uploads
    When adding photos you can select more than one at a time by holding down your SHIFT or CONTROL / COMMAND key.

= render "photog/shared/error_messages", :target => @gallery
%fieldset
  .clearfix
    = form.label :title, :class => 'validate[required,length[2,64]]'
    .input
      = form.text_field :title
      %span.help-inline Give your gallery a meaningful title. Like "Jim's Wedding"
  .clearfix
    = form.label :expires_on
    .input
      = form.text_field :expires_on, :class => 'date_picker', :value => (@gallery.expires_on.blank? ? '' : @gallery.expires_on.strftime('%B %d, %Y'))
      %span.help-inline Select the date when the gallery should expire.
  .clearfix
    = form.label :gallery_photos_attrs, 'Photos'
    .input
      = form.file_field :gallery_photos_attrs
      %span.help-inline Upload some files

  .actions
    %button{ :type => 'submit', :class => 'btn primary' } Save