- content_for :title, "#{controller.action_name.titleize} Post"
- content_for :sidebar do
  %p Enter a descriptive title for the post. I.e. Newborn Sessions October 2012.
  %p Optionally upload an image that will accompany your body content.
  %p It's advisable that you fill out keywords with relevant content in order to list higher for related terms in search engines.
  %p The body is the main content of the post and you can use markdown to add some HTML flair.

= render "shared/error_messages", :target => @post

= form.input :title, :hint => 'Give your post a meaningful title. Like "Newborn Sessions October 2012"'
= form.input :image, :as => :file, :hint => 'You may upload an image to accompany the post.'
= form.hidden_field :retained_image
= link_to( image_tag(@post.image.thumb('100x100').url), @post.image.url, :rel => 'lightbox' ) if @post.image_uid
= form.input :body, :hint => 'The contents of the post. You may use markdown.'
= render :partial => "admin/shared/seo_fields", :locals => { :form => form }
.form-actions
  = form.button :submit, :class => 'btn btn-primary'
