- form_for(@photographer, :url => resource_path, :html => { :multipart => true, :method => :put }) do |f|
  -content_for :sidebar do
    %h2 Settings
    %p Manage your site-wide settings here.
    %p The information you enter here is available in some areas of the site and also within system generated email notifications to your clients. 
    %p Click the "Update Settings" button when you're done.

  = f.error_messages
  %div{ :style => "width:50%; float:left;" }
    %p
      = f.label :email
      = f.text_field :email, :class => 'text validate[required,custom[email]]'
    %p
      = f.label :site_url
      = f.text_field :site_url, :class => 'text validate[required,length[10,255]]'
    %p
      = f.label :company_name
      = f.text_field :company_name, :class => 'text validate[required,length[3,64]]'
    %p
      = f.label :company_email
      = f.text_field :company_email, :class => 'text validate[optional,length[5,100]]'
    %p
      = f.label :company_phone
      = f.text_field :company_phone, :class => 'text validate[optional,length[7,20]]'
    %p
      = f.label :theme
      = f.select :theme, Photographer.themes
    %p
      = f.label :use_watermark, "Automatically watermark your client photos?"
      = f.check_box :use_watermark
    %p
      = f.label :watermark, "Upload your watermark. Must be a transparent PNG or GIF"
      = f.file_field :watermark, :class => 'text'
      %br
      = link_to(image_tag(@photographer.watermark.url(:thumb), :style => "border: 1px solid #aaa;"), @photographer.watermark.url, :rel => 'colorbox') if @photographer.watermark.file?
      
  %div{ :style => "width:50%; float:left;" }
    %p
      = f.label :home_page_title
      = f.text_field :home_page_title, :class => 'text validate[required,length[5,200]]'
    %p
      = f.label :blog_url, 'Blog URL'
      = f.text_field :blog_url, :class => 'text validate[optional,length[10,255]]'
    %p
      = f.label :facebook_url, 'Facebook URL'
      = f.text_field :facebook_url, :class => 'text validate[optional,length[10,255]]'
    %p
      = f.label :twitter_url, 'Twitter URL'
      = f.text_field :twitter_url, :class => 'text validate[optional,length[10,255]]'
    %p
      = f.label :google_analytics_key
      = f.text_field :google_analytics_key, :class => 'text validate[optional,length[10,20]]'
    %p
      = f.label :google_verification_key
      = f.text_field :google_verification_key, :class => 'text validate[optional,length[10,50]]'
      
  %div{ :style => "width:100%; float:left;" }
    %p.buttons= build_submit_button('Update Settings &raquo;')