- content_for :title, 'Application Settings'
- content_for :sidebar do
  %p The information you enter here is available in some areas of the site and also within system generated email notifications to your clients.
  %p Click the "Update Settings" button when you're done.

= simple_form_for(@photographer, :url => admin_photographer_path, :method => :put, :html => { :class => 'form-vertical' }) do |form|
  = render "shared/error_messages", :target => @photographer

  = form.input :email, :required => true, :hint => 'Your business email address.'
  = form.input :name, :hint => 'Your business name.'
  = form.input :phone, :hint => 'Your business phone number if you want to show it.'
  = form.input :tagline, :hint => 'A brief phrase to be displayed on the homepage.'
  = form.input :description, :as => :text, :hint => 'A brief summary of the services you provide to be displayed in the footer on every page.'
  = form.input :contact_instructions, :as => :text, :hint => 'Instructions displayed next to the contact form.'
  = form.input :time_zone, :collection => ActiveSupport::TimeZone.zones_map.keys, :hint => 'Please select your local time zone.'
  = form.input :preferred_domain, :hint => 'Use this to switch domains using 301 redirects. I.e. If you are changing yourname.com to newyorkphotog.com, you can enter newyorkphotog.com here. Otherwise leave this blank.'
  = form.input :portfolio_url, :hint => 'The URL to the portfolio site to use instead of the GrokPhoto provided portfolio.'
  = form.input :blog_url, :hint => 'The URL to your blog if you have one.'
  = form.input :google_analytics_key, :hint => 'Your google analytics key if you have one.'
  = form.input :google_verification, :hint => 'Your google webmaster tools site verification meta tag content if you have one.'
  = form.input :facebook_url, :hint => 'The URL to your Facebook page if you have one.'
  = form.input :twitter_url, :hint => 'The URL to your Twitter profile if you have one.'
  = form.input :disqus_short_name, :hint => 'The shortname for your disqus comments site.'
  = form.input :instagram_id, :hint => 'Your Instagram identifier.'
  = form.input :conversion_code, :hint => 'Paste the conversion code to be called after a contact submission if you have any (I.e. Google Adwords).'
  = render :partial => "admin/shared/seo_fields", :locals => { :form => form }
  
  .form-actions
    = form.button :submit, 'Update Settings', :class => 'btn-primary'