- content_for :title do
  %h1
    Secure Sign In
    %small This is a protected area.
- content_for :sidebar do
  %p
    Please sign in.
    If you came here by mistake, please head back to the
    = link_to('public area.', root_path)
  %p= render :partial => "devise/shared/links"

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form|
  = form.input :email, :input_html => { :class => 'validate[required,email]' }, :hint => 'Please enter your email address.'
  = form.input :password, :input_html => { :class => 'validate[required,length[5,20]]]' }, :hint => 'Please enter your password.'
  - if devise_mapping.rememberable?
    = form.input :remember_me, :as => :boolean
  = form.submit 'Sign in'