- content_for :title, 'Secure Sign In'
- content_for :sidebar do
  %p Please sign in using you email address and password.
  %p Checking the "Remember me" box will tell your browser to log you in automatically in the future.
  %p If you came here by mistake, please head back to the #{link_to('public area.', root_path)}

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :wrapper => :inline) do |f|
  = f.input :email, :required => false, :autofocus => true, :hint => 'Enter your email address.', :input_html => { :class => 'validate[required,email]' }
  = f.input :password, :required => false, :hint => 'Enter your password.', :input_html => { :class => 'validate[required,length[5,20]]]' }
  = f.input :remember_me, :as => :boolean, :hint => 'Keeps you signed in.' if devise_mapping.rememberable?

  .actions
    = f.button :submit, 'Sign in', :class => 'primary'
    %p
    %p= render :partial => 'devise/shared/links'