%h1 Listing photographers

%table
  %tr
    %th Name
    %th Phone
    %th Blog url
    %th Facebook url
    %th Twitter url
    %th Google analytics key
    %th
    %th
    %th

  - @photographers.each do |photographer|
    %tr
      %td= photographer.name
      %td= photographer.phone
      %td= photographer.blog_url
      %td= photographer.facebook_url
      %td= photographer.twitter_url
      %td= photographer.google_analytics_key
      %td= link_to 'Show', photographer
      %td= link_to 'Edit', edit_photographer_path(photographer)
      %td= link_to 'Destroy', photographer, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Photographer', new_photographer_path
