%p#notice= notice

%p
  %b Name:
  = @photographer.name
%p
  %b Phone:
  = @photographer.phone
%p
  %b Blog url:
  = @photographer.blog_url
%p
  %b Facebook url:
  = @photographer.facebook_url
%p
  %b Twitter url:
  = @photographer.twitter_url
%p
  %b Google analytics key:
  = @photographer.google_analytics_key
%p
  %b Use watermark:
  = @photographer.use_watermark

= link_to 'Edit', edit_photographer_path(@photographer)
\|
= link_to 'Back', photographers_path
