-content_for :sidebar do
  %h2= "#{@gallery.title} Photo"
  %p Please upload an image by clicking the "Choose File" or "Upload" button to the right. This image should be sized 660 pixels wide and 440 pixels high (3:2 aspect ratio).
  %p If you omit the photo's title, the system will assign it's own title based on the image's file name. The title will be shown to your potential clients and is also used for SEO purposes.
  %p= "Click the \"#{(controller.action_name == 'new') ? 'Create' : 'Update'}\" button when you're done."
    
= f.error_messages
%div{ :style => "width:50%; float:left;" }
  %p
    = f.label :image, "Upload Image (Should be around 640x480 pixels)"
    = f.file_field :image, :class => 'text'
  %p
    = f.label :title
    = f.text_field :title, :class => 'text validate[optional,length[2,100]]'
    
%div{ :style => "width:50%; float:left;" }
  %p= link_to(image_tag(@gallery_photo.image.url(:thumb)), @gallery_photo.image.url, :rel => 'colorbox') if @gallery_photo.image.file?

%div{ :style => "width:100%; float:left;" }  
  = render :partial => "admin/shared/buttons"