- content_for :title do
  Private Galleries
  .pull-right
    = form_for :search, :url => admin_private_galleries_path, :method => :get, :class => 'form-search' do |form|
      = form.text_field :q, :placeholder => 'Search', :class => 'input-medium search-query', :value => defined?(params[:search][:q]) ? params[:search][:q] : ''

%p= link_to(raw("<i class='icon-plus icon-white'></i> New Private Gallery"), new_admin_private_gallery_path, :class => 'btn btn-success')

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Photos
      %th Created on
      %th Expires on
      %th{ :colspan => 4, :width => '20%' } Actions
  %tbody
    - @private_galleries.each do |obj|
      %tr
        %td= obj.name
        %td= obj.photos.size
        %td= obj.created_at.strftime("%b %d, %Y")
        %td= obj.expires_on > Time.zone.now ? obj.expires_on.strftime("%b %d, %Y") : 'Expired'
        %td= link_to('View', private_gallery_path(obj.token))
        %td= link_to('Invite', invite_admin_private_gallery_path(obj))
        %td= link_to('Edit', edit_admin_private_gallery_path(obj))
        %td= link_to('Delete', admin_private_gallery_path(obj), :method => :delete, :confirm => 'Are you sure?', :remote => true, 'data-type' => 'json')

= paginate @private_galleries