-content_for :sidebar do
  %h2
    Product size Data
  %p
    Your product sizes are where you define and price your products.
  %p
    Please enter a descriptive title for the product size. This title will be shown to your potential clients and used for SEO purposes.
  %p
    Please enter a price for your product size.
  %p
    = "Click the \"#{(controller.action_name == 'new') ? 'Create' : 'Update'}\" button when you're done."

#breadcrumb
  = link_to 'Products', admin_products_path
  &raquo;
  = "#{link_to(@product.title + " sizes", admin_product_product_sizes_path(@product))} &raquo; #{controller.action_name.titleize}"
  
= f.error_messages
%p
  = f.label :title
  = f.text_field :title, :class => 'text validate[required,length[2,128]]'
%p
  = f.label :price, "A la carte price"
  $
  = f.text_field :price, :class => 'text numeric validate[required,length[1,10]]'
= render :partial => "admin/shared/buttons", :locals => { :f => f }

