-content_for :sidebar do
  %h2 Manage Product sizes
  %p Product sizes are used to define and price your products.
  %p You can change the order that product sizes appear in by clicking and dragging the arrow in the left column.
  %p You can create a new product_size by clicking the "New Product Size" button.
  %p You can edit a product size by clicking it's "Edit" link.
  %p You can delete a product size by clicking the "Delete" link.

#breadcrumb
  = link_to 'Products', admin_products_path
  &raquo;
  = "#{@product.title} sizes"

= build_link_button("New #{h(@product.title)} size &raquo;", new_resource_path)

%p{ :class => 'clear' }

%table.sortable{ :width => "100%" }
  %tr{ :class => 'nodrag nodrop' }
    %th{ :width => '14px' } &nbsp;
    %th Title
    %th A la carte price
    %th{ :colspan => "2", :width => "12%" } Actions
  = render :partial => "row", :collection => @product_sizes

