#intro
  %h1 Oops. It looks like you may have taken a wrong turn. 
#content
  #main
    %h2 Don’t worry... it happens to the best of us.
    %p Here’s a few links to get you back on track:
    %ul
      %li= link_to 'Home', root_path
      %li= link_to 'Galleries', galleries_path
      - for page in @pages
        %li= link_to page.title, page_path(page)
      %li= link_to 'Client Login', client_path
  #sidebar
    = render :partial => '/sidebar'