%p.buttons
  = build_submit_button((controller.action_name == 'new') ? 'Create' : 'Update')
  - if !collection_path.blank?
    / old Rails 2.3.9 html escaping:
    /= link_to("#{image_tag('icons/negative.png')} Cancel", (params[:page].blank? ? collection_path : "#{collection_path}?page=#{params[:page]}"), :class => 'button negative', :id => 'cancel')
    = link_to("#{image_tag('icons/negative.png')} Cancel".html_safe, (params[:page].blank? ? collection_path : "#{collection_path}?page=#{params[:page]}"), :class => 'button negative', :id => 'cancel')
