%h3 Contact Info
%p 
  = enkode_mail( @config.company_email, @config.company_email, "Email Me", "#{@config.company_name} - Request" )
  = "<br /><br />#{@config.company_phone}<br />" unless @config.company_phone.blank?
  = "<br />#{link_to 'Blog', @config.blog_url}" unless @config.blog_url.blank?
  = "| #{link_to 'Facebook', @config.facebook_url}" unless @config.facebook_url.blank?
  = "| #{link_to 'Twitter', @config.twitter_url}" unless @config.twitter_url.blank?
%h3 Client Testimonials
- for quote in @quotes
  %p
    %i= "\"#{h(quote.body)}\""
    %br
    %b= h(quote.author)