:javascript
  
  $(document).ready(function() {
    
    // using galleria for the gallery navigation / slideshow
    // see http://devkick.com/lab/galleria/
    $('ul.gallery_thumbs').galleria({
    
      history   : false, // activates the history object for bookmarking, back-button etc.
      clickNext : false, // helper for making the image clickable
      insert    : '.gallery_container', // the containing selector for our main image
      onImage   : function(image,caption,thumb) { // let's add some image effects for demonstration purposes
        // fade in the image & caption
        if(! ($.browser.mozilla && navigator.appVersion.indexOf("Win")!=-1) ) { // FF/Win fades large images terribly slow
          image.css('display','none').fadeIn(1400);
        }
        caption.css('display','none').fadeIn(1000);

        // fetch the thumbnail container
        var _li = thumb.parents('li');

        // fade out inactive thumbnail
        _li.siblings().children('img.selected').fadeTo(500,0.3);

        // fade in active thumbnail
        thumb.fadeTo('fast',1).addClass('selected');

        // add a title for the clickable image
        image.attr('title','Next image >>');
      },
      onThumb : function(thumb) { // thumbnail effects goes here

        // fetch the thumbnail container
        var _li = thumb.parents('li');

        // if thumbnail is active, fade all the way.
        var _fadeTo = _li.is('.active') ? '1' : '0.3';

        // fade in the thumbnail when finnished loading
        thumb.css({display:'none',opacity:_fadeTo}).fadeIn(1500);

        // hover effects
        thumb.hover(
          function() { thumb.fadeTo('fast',1); },
          function() { _li.not('.active').children('img').fadeTo('fast',0.3); } // don't fade out if the parent is active
        )
      }
    
    });
    
    // stop the slideshow if a thumbnail is clicked, we're assuming the user wants to navigate
    // and a slideshow would be annoying if that's the case.
    $('ul.gallery_thumbs li').click(function() {
      stopSlideshow();
    });
    
    // start the slideshow
    startSlideshow();
  });
  
  // start and stop methods for the slideshow
  var intervalId;
  function startSlideshow() {
    intervalId = setInterval( '$.galleria.next()', 5000 );
  }
  function stopSlideshow() {
    clearInterval ( intervalId );
  }
  // just resets the interval so we're not moving too fast when the next / prev links are used.
  function resetSlideshow() {
    stopSlideshow();
    startSlideshow();
  }
  
  
-content_for :subnav do
  %li{ :class => 'last', :style => 'padding-left: 0' } Select a Gallery: 
  - @galleries.each_with_index do |gallery, i|
    %li{ :class => "#{'last' if (i + 1) == @galleries.size}" }
      = link_to(h(gallery.title), gallery_path(gallery), :title => h(gallery.title), :class => "#{'active' if @gallery.id == gallery.id}")

#content
  #main
    .gallery_container
    %p.gallery_nav
      %a{ :href => '#', :onclick => "$.galleria.prev(); resetSlideshow(); return false;", :title => 'Previous Photo' } &laquo; prev
      |
      %a{ :href => '#', :onclick => "$.galleria.next(); resetSlideshow(); return false;", :title => 'Next Photo' } next &raquo;
    %p= h(@gallery.description)
  #sidebar
    %h2
      = "#{h(@gallery.title)} Photos"
    %p
      Jump to a photo:
    %ul.gallery_thumbs
      - @gallery.gallery_photos.each_with_index do |photo, i|
        %li{ :class => "#{'active' if i == 0}" }
          = image_tag(photo.image.url, :alt => h(photo.title))
    %p.clearfix