!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ :content => "chrome=1", "http-equiv" => "X-UA-Compatible" }
    %title
      = "#{controller.controller_name.humanize.titleize} - Administration - #{@config.company_name}"
    = stylesheet_link_tag 'admin.css', :media => 'screen, projection'
    = stylesheet_link_tag 'global/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'global/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'global/buttons.css', :media => 'screen, projection'
    = stylesheet_link_tag 'global/gritter.css', :media => 'screen, projection'
    = stylesheet_link_tag 'global/colorbox.css', :media => 'screen, projection'
    = stylesheet_link_tag 'global/validationEngine.jquery.css', :media => 'screen, projection'
    = javascript_include_tag 'jquery.min.js', 'jquery-ui.min.js', 'jquery.gritter.js', 'jquery.colorbox-min.js', 'jquery.validationEngine.js', 'jquery.validationEngine-en.js', 'swfobject.js', 'jquery.uploadify.v2.1.0.min.js', 'positioning.js', 'admin.js'
    = display_flash
    = javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_tag "const BASE_PATH = '#{collection_path}/';" if defined?(collection_path) rescue nil
  %body
    #container
      #header
        #logo
          %h1
            = "#{@config.company_name} Administration"
        #nav
          %ul.tabs
            - if current_photographer
              %li
                = link_to "Clients", admin_clients_path, :class => "#{'active' if controller.controller_name == 'clients' or controller.controller_name == 'bookings' or controller.controller_name == 'photos' or controller.controller_name == 'photo_comments'}"
              %li
                = link_to "Galleries", admin_galleries_path, :class => "#{'active' if controller.controller_name == 'galleries' or controller.controller_name == 'gallery_photos'}"
              %li
                = link_to "Pages", admin_pages_path, :class => "#{'active' if controller.controller_name == 'pages'}"
              %li
                = link_to "Quotes", admin_quotes_path, :class => "#{'active' if controller.controller_name == 'quotes'}"
              %li
                = link_to "Settings", edit_admin_photographer_path, :class => "#{'active' if controller.controller_name == 'photographers'}"
              %li
                = link_to "Logout", admin_logout_path
            -else
              %li
                = link_to "Login", admin_login_path, :class => "active"
      #main
        #sidebar
          .box
            -if @content_for_sidebar
              = yield(:sidebar)
            - else
              %h2
                Welcome
              %p
                This is the administration area for your site.
              %p
                Once you've logged in you can manage all of your galleries, clients, and photographs from here.
              %p
                This area is used to provide pertinent information about the tasks you're currently working on.
        #content
          = yield
      #footer
        %div{ :class => 'column grid_12' }
          .faux-hr
          = "Copyright &copy; 2010, #{@config.company_name}, &nbsp; All Rights Reserved"