!!!
%html{ 'class' => 'no-js', :lang => 'en' }
  %head
    %title= @meta_title
    - unless @keywords.blank?
      %meta{ :name => "keywords", :content => @keywords }
    - unless @meta_description.blank?
      %meta{ :name => "description", :content => @meta_description }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            - galleries.each do |gallery|
              %li{ :class => (defined?(@gallery) and @gallery.id == gallery.id ? 'active' : '') }= link_to(gallery.name, gallery_url(gallery))
            - pages.each do |page|
              %li{ :class => (defined?(@page) and @page.id == page.id ? 'active' : '') }= link_to(page.name, page_url(page))
            %li{ :class => controller.controller_name == 'posts' ? 'active' : '' }= link_to('Blog', photographer.blog_url.blank? ? posts_url : photographer.blog_url)
            %li.divider-vertical
            %li{ :class => controller.controller_name == 'contact_requests' ? 'active' : '' }= link_to('Contact', new_contact_request_url)
          .pull-right= link_to(photographer.name, root_url, :class => 'brand')
    .outer
      .container#content
        - if notice
          .alert.alert-block{ :'data-dismiss' => 'alert' }
            %a.close ×
            %p= notice
        - if content_for?(:title)
          .page-header
            %h1= yield(:title)
            - if content_for?(:subtitle)
              %p.subtitle= yield(:subtitle)
        .row.content
          - if content_for?(:sidebar)
            .span3
              .well
                = yield(:sidebar)
                %p &nbsp;
                %p &nbsp;
            .span9= yield
          - else
            .span12= yield
    = render :partial => 'shared/footer'