!!!
%html{ 'class' => 'no-js', :lang => 'en' }
  %head
    %title= @meta_title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .pull-right= "#{yield(:page_title).presence || 'Private Gallery'} | #{photographer.name}"
  .outer
    .container#content
      - if notice
        .alert.alert-block{ :'data-dismiss' => 'alert' }
          %a.close ×
          %p= notice
      .page-header
        %h1= yield(:title).presence || 'Home'
      .row
        .span12= yield
  #footer.container
    = "&copy; #{Time.now.year}, #{photographer.name}, All Rights Reserved".html_safe