!!!
%html{ 'class' => 'no-js', :lang => 'en' }
  %head
    %title= "#{@meta_title} | #{photographer.name}".html_safe
    %meta{ :name => "keywords", :content => "#{@keywords || 'photographer, professional'}".html_safe }
    %meta{ :name => "description", :content => "#{@meta_description || 'Professional photographer.'}".html_safe }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ :class => "#{yield(:body_class).presence}" }
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .pull-right= "#{yield(:page_title).presence || 'Private Gallery'} | #{photographer.name}"
  .container#content
    - if notice
      .alert.alert-block{ :'data-dismiss' => 'alert' }
        %a.close ×
        %p= notice
    .page-header
      %h1= yield(:title).presence || 'Home'
    .row
      .span12= yield
  #footer.container
    = "&copy; #{Time.now.year}, #{photographer.name}, All Rights Reserved".html_safe