!!!
%html{ 'class' => 'no-js', :lang => 'en' }
  %head
    %title= "#{yield(:meta_title).presence || 'Gallery'} | #{@photographer.name}"
    = stylesheet_link_tag 'gallery'
    = javascript_include_tag 'gallery'
    = csrf_meta_tags
  %body{ :class => "gallery #{yield(:body_class).presence}" }
    #container
      #header
        %h2#logo= "#{yield(:page_title).presence || 'Gallery'} | #{@photographer.name}"
      #main
        #sidebar
          .box
            - if content_for?(:sidebar)
              = yield(:sidebar)
            - else
              %h2 Welcome
              %p This is your gallery.
        #content
          - if alert
            .alert-message.error= alert
          - elsif notice
            .alert-message.info= notice
          = yield
      #footer= "Copyright &copy; 2011, #{@photographer.name}, All Rights Reserved"