!!!
%html{ 'xml:lang' => 'en', :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', :class => 'blue' }
  %head
    %title= @photographer.name
    = stylesheet_link_tag 'public'
    = javascript_include_tag 'public'
    = csrf_meta_tags
  %body.blue
    #header
      .container_24
        .grid_24
          #logo
            %a{ :href => root_path, :title => @photographer.name }
              = image_tag('blue/logo.png', :alt => @photographer.name)
          #navigation
            %ul.topnav
              %li
                = link_to('Portfolio', '#')
                %ul.subnav
                  - @portfolios.each do |portfolio|
                    %li= link_to(portfolio.title, portfolio_path(portfolio))
              - @pages.each do |page|
                %li= link_to(page.title, page_path(page))
              %li= link_to('Blog', @photographer.blog_url)
    #main_slider
      .container_24
        .grid_24
          #slider-wrapper
            #slider.nivoSlider
              - @portfolios.each do |portfolio|
                = image_tag(portfolio.cover.url, :alt => portfolio.title, :title => portfolio.title)
            #htmlcaption.nivo-html-caption This is an example of a caption.
            :javascript
              $(window).load(function() {
                $('#slider').nivoSlider();
              });
    .container_24
      #main_container.grid_24
        .homebox{ :style => 'margin:0;' }
          %h3.home_title1 Lorem Ipsum Dolor
          %h5 Suspendisse vitae lectus ipsum
          .homebox_image
            %img{ :src => "images/img001.png", :alt => "lorem ipsum dolor" }
          %p
            %a{ :href => "#" } Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Proin consectetur dictum semper. Proin gravida risus sit amet lectus volutpat ullamcorper. Suspendisse at lorem erat.
          .learn_more
            %a{ :href => "#" } Learn More
        .homebox
          %h3.home_title2 Lorem Ipsum Dolor
          %h5 Suspendisse vitae lectus ipsum
          .homebox_image
            %img{ :src => "images/img002.png", :alt => "lorem ipsum dolor" }
          %p
            %a{ :href => "#" } Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Proin consectetur dictum semper. Proin gravida risus sit amet lectus volutpat ullamcorper. Suspendisse at lorem erat.
          .learn_more
            %a{ :href => "#" } Learn More
        .homebox
          %h3.home_title3 Lorem Ipsum Dolor
          %h5 Suspendisse vitae lectus ipsum
          .homebox_image
            %img{ :src => "images/img003.png", :alt => "lorem ipsum dolor" }
          %p
            %a{ :href => "#" } Lorem ipsum dolor sit amet
            , consectetur adipiscing elit. Proin consectetur dictum semper. Proin gravida risus sit amet lectus volutpat ullamcorper. Suspendisse at lorem erat.
          .learn_more
            %a{ :href => "#" } Learn More
        .clear
        #left_side
        #right_side
      .clear
    #footer
      .container_24
        .grid_24
          .footer_logo
            %a{ :href => root_path }
              = image_tag('images/blue/footer_logo.png', :alt => @photographer.name)
          #copyright
            Copyright &copy; 2011
            %a{ :href => root_path }= @photographer.name
            | All rights Reserved
          #grokphoto= link_to('powered by: GrokPhoto', 'http://grokphoto.org', :target => '_blank')
          .clear